body {
    position: relative;
    width: 1440px;
    height: 5189px;
    background: #FFFFFF;
}

#logo-top {
    position: absolute;
    width: 199px;
    height: 66px;
    left: 150px;
    top: 106px;
}

#fid-top {
    position: absolute;
    width: 60px;
    height: 23px;
    left: 353px;
    top: 148px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #43A5FF;
}

#intro {
    position: absolute;
    width: 71px;
    height: 19px;
    left: 720px;
    top: 152px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #4F5665;
}

#product {
    position: absolute;
    width: 76px;
    height: 19px;
    left: 823px;
    top: 152px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #4F5665;
}

#help {
    position: absolute;
    width: 61px;
    height: 19px;
    left: 934px;
    top: 152px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #4F5665;
}

#register {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 1057px;
    top: 151.62px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #0B132A;
}

#signin-border {
    position: absolute;
    width: 150px;
    height: 45px;
    left: 1140px;
    top: 138.62px;
    border: 1px solid #0575E6;
    box-sizing: border-box;
    border-radius: 50px;
}

#signin {
    position: absolute;
    width: 83px;
    height: 19px;
    left: 35px;
    top: 13px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #0575E6;
}

#child1-item1 {
    position: absolute;
    width: 649px;
    height: 140px;
    left: 142px;
    top: 300px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    /* or 140% */
    color: #0B132A;
}

#child1-item2 {
    position: absolute;
    width: 555px;
    height: 90px;
    left: 150px;
    top: 459.77px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    color: #4F5665;
}

#child1-item3-border {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 150px;
    top: 570px;
    background: #0575E6;
    border-radius: 10px;
}

#child1-item3 {
    position: absolute;
    width: 71px;
    height: 25px;
    left: 83.5px;
    top: 17.27px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */
    color: #FFFFFF;
}

#child1-image {
    position: absolute;
    width: 611.24px;
    height: 382.44px;
    left: 745.76px;
    top: 272.11px;
}

#child2-wrapper {
    position: absolute;
    width: 1140px;
    height: 200px;
    left: 150px;
    top: 757.55px;
    background: #FFFFFF;
    border-radius: 10px;
}

#child2-item1-icon-border {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 91px;
    top: 72.5px;
    background: #D0E6FD;
    border-radius: 70px;
}

#child2-item1-icon {
    position: absolute;
    left: 19.1px;
    right: 19.1px;
    top: 19.1px;
    bottom: 17.9px;
    /* background: #0575E6; */
}

#child2-item1-content1 {
    position: absolute;
    width: 108px;
    height: 30px;
    left: 182.5px;
    top: 67.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    color: #0B132A;
}

#child2-item1-content2 {
    position: absolute;
    width: 139px;
    height: 30px;
    left: 182.5px;
    top: 102.5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    color: #4F5665;
}

#child2-item2-icon-border {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 478.5px;
    top: 72.5px;
    background: #D0E6FD;
    border-radius: 70px;
}

#child2-item2-icon {
    position: absolute;
    left: 14.5px;
    right: 14.5px;
    top: 14.95px;
    bottom: 14.05px;
}

#child2-item2-content1 {
    position: absolute;
    width: 43px;
    height: 30px;
    left: 570px;
    top: 67.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    color: #0B132A;
}

#child2-item2-content2 {
    position: absolute;
    width: 142px;
    height: 30px;
    left: 570px;
    top: 102.5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    color: #4F5665;
}

#child2-item3-icon-border {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 887px;
    top: 72.5px;
    background: #D0E6FD;
    border-radius: 70px;
}

#child2-item3-icon {
    position: absolute;
    left: 17.5px;
    right: 17.5px;
    top: 18.5px;
    bottom: 18.5px;
}

#child2-item3-content1 {
    position: absolute;
    width: 43px;
    height: 30px;
    left: 978.5px;
    top: 67.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    color: #0B132A;
}

#child2-item3-content2 {
    position: absolute;
    width: 81px;
    height: 30px;
    left: 978.5px;
    top: 102.5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    color: #4F5665;
}

#child2-divide1 {
    position: absolute;
    width: 0px;
    height: 125.57px;
    left: 365.5px;
    top: 37.21px;
    border: 2px solid #EEEFF2;
}

#child2-divide2 {
    position: absolute;
    width: 0px;
    height: 125.57px;
    left: 795.5px;
    top: 37.21px;
    border: 2px solid #EEEFF2;
}

#child3-image {
    position: absolute;
    width: 508.12px;
    height: 414.71px;
    left: 184.52px;
    top: 1053.38px;
}

#child3-title {
    position: absolute;
    width: 461px;
    height: 50px;
    left: 862px;
    top: 1108px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    /* identical to box height, or 143% */
    color: #0B132A;
}

#child3-des {
    position: absolute;
    width: 427.88px;
    height: 60px;
    left: 862.12px;
    top: 1227.55px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    color: #4F5665;
}

#child3-icon1 {
    position: absolute;
    left: 864.12px;
    top: 1312.55px;
}

#child3-icon2 {
    position: absolute;
    left: 864.12px;
    top: 1357.55px;
}

#child3-icon3 {
    position: absolute;
    left: 864.12px;
    top: 1402.55px;
}

#child3-icon4 {
    position: absolute;
    left: 864.12px;
    top: 1447.55px;
}

#child3-content1 {
    position: absolute;
    width: 177px;
    height: 30px;
    left: 896.2px;
    top: 1307.55px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    color: #4F5665;
}

#child3-content2 {
    position: absolute;
    width: 290px;
    height: 30px;
    left: 896.2px;
    top: 1352.55px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    color: #4F5665;
}

#child3-content3 {
    position: absolute;
    width: 233px;
    height: 30px;
    left: 896.2px;
    top: 1397.55px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    color: #4F5665;
}

#child3-content4 {
    position: absolute;
    width: 221px;
    height: 30px;
    left: 896.2px;
    top: 1442.55px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    color: #4F5665;
}

#child4-title {
    position: absolute;
    width: 383.41px;
    height: 50px;
    left: 528.3px;
    top: 1679.55px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    /* identical to box height, or 143% */
    text-align: center;
    color: #0B132A;
}

#child4-des {
    position: absolute;
    width: 555px;
    height: 30px;
    left: 442.5px;
    top: 1749.55px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    text-align: center;
    color: #4F5665;
}

.child4-item-image {
    position: absolute;
    border-radius: 10px;
    width: 257px;
    height: 152px;
}

.child4-item-des {
    position: absolute;
    height: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: -0.387234px;
    color: #67748E;
}

.child4-item-title {
    position: absolute;
    height: 27px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.553191px;
    color: #141414;
}

.child4-item-button {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #0575E6;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.child4-item-button-content {
    position: absolute;
    height: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: -0.387234px;
    color: #0575E6;
}

#child4-item1-image {
    left: 171px;
    top: 1875px;
}

#child4-item1-des {
    left: 12.15%;
    right: 73.82%;
    top: calc(50% - 19px/2 - 537px);
}

#child4-item1-title {
    left: 12.15%;
    right: 83.89%;
    top: calc(50% - 27px/2 - 505px);
}

#child4-item1-button {
    left: 12.22%;
    right: 78.89%;
    top: 40.86%;
    bottom: 58.37%;
}

#child4-item1-button-content {
    left: 13.4%;
    right: 80.14%;
    top: calc(50% - 19px/2 - 454px);
}

#child4-item2-image {
    left: 451px;
    top: 1874px;
}

#child4-item2-des {
    left: 31.53%;
    right: 60.42%;
    top: calc(50% - 19px/2 - 537px);
}

#child4-item2-title {
    left: 31.53%;
    right: 63.61%;
    top: calc(50% - 27px/2 - 505px);
}

#child4-item2-button {
    left: 31.67%;
    right: 59.44%;
    top: 40.86%;
    bottom: 58.37%;
}

#child4-item2-button-content {
    left: 32.85%;
    right: 60.69%;
    top: calc(50% - 19px/2 - 454px);
}

#child4-item3-image {
    left: 729px;
    top: 1875px;
}

#child4-item3-des {
    left: 50.9%;
    right: 34.58%;
    top: calc(50% - 19px/2 - 537px);
}

#child4-item3-title {
    left: 50.9%;
    right: 45.42%;
    top: calc(50% - 27px/2 - 505px);
}

#child4-item3-button {
    left: 51.04%;
    right: 40.07%;
    top: 40.86%;
    bottom: 58.37%;
}

#child4-item3-button-content {
    left: 52.22%;
    right: 41.32%;
    top: calc(50% - 19px/2 - 454px);
}

#child4-item4-image {
    left: 69.51%;
    right: 12.47%;
    top: 36.15%;
    bottom: 60.99%;
}

#child4-item4-des {
    left: 69.93%;
    right: 18.12%;
    top: calc(50% - 19px/2 - 537px);
}

#child4-item4-title {
    left: 69.93%;
    right: 26.25%;
    top: calc(50% - 27px/2 - 505px);
}

#child4-item4-button {
    left: 70.07%;
    right: 21.04%;
    top: 40.86%;
    bottom: 58.37%;
}

#child4-item4-button-content {
    left: 71.25%;
    right: 22.29%;
    top: calc(50% - 19px/2 - 454px);
}

#child4-item5-image {
    left: 177px;
    top: 2255px;
}

#child4-item5-des {
    left: 12.57%;
    right: 77.99%;
    top: calc(50% - 19px/2 - 157px);
}

#child4-item5-title {
    left: 12.57%;
    right: 83.47%;
    top: calc(50% - 27px/2 - 125px);
}

#child4-item5-button {
    left: 12.64%;
    right: 78.47%;
    top: 48.18%;
    bottom: 51.05%;
}

#child4-item5-button-content {
    left: 13.82%;
    right: 79.72%;
    top: calc(50% - 19px/2 - 74px);
}

#child4-item6-image {
    left: 457px;
    top: 2254px;
}

#child4-item6-des {
    left: 31.94%;
    right: 60%;
    top: calc(50% - 19px/2 - 157px);
}

#child4-item6-title {
    left: 31.94%;
    right: 63.19%;
    top: calc(50% - 27px/2 - 125px);
}

#child4-item6-button {
    left: 32.08%;
    right: 59.03%;
    top: 48.18%;
    bottom: 51.05%;
}

#child4-item6-button-content {
    left: 33.26%;
    right: 60.28%;
    top: calc(50% - 19px/2 - 74px);
}

#child4-item7-image {
    left: 735px;
    top: 2255px;
}

#child4-item7-des {
    left: 51.32%;
    right: 40.35%;
    top: calc(50% - 19px/2 - 157px);
}

#child4-item7-title {
    left: 51.32%;
    right: 46.25%;
    top: calc(50% - 27px/2 - 125px);
}

#child4-item7-button {
    left: 51.46%;
    right: 39.65%;
    top: 48.18%;
    bottom: 51.05%;
}

#child4-item7-button-content {
    left: 52.64%;
    right: 40.9%;
    top: calc(50% - 19px/2 - 74px);
}

#child4-item8-image {
    left: 69.92%;
    right: 12.05%;
    top: 43.48%;
    bottom: 53.67%;
}

#child4-item8-des {
    left: 70.35%;
    right: 17.71%;
    top: calc(50% - 19px/2 - 157px);
}

#child4-item8-title {
    left: 70.35%;
    right: 23.61%;
    top: calc(50% - 27px/2 - 125px);
}

#child4-item8-button {
    left: 70.49%;
    right: 20.62%;
    top: 48.18%;
    bottom: 51.05%;
}

#child4-item8-button-content {
    left: 71.67%;
    right: 21.88%;
    top: calc(50% - 19px/2 - 74px);
}

#child5-title {
    position: absolute;
    width: 383.41px;
    height: 50px;
    left: 528.3px;
    top: 2686.55px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    /* identical to box height, or 143% */
    text-align: center;
    color: #0B132A;
}

#child5-des {
    position: absolute;
    width: 555px;
    height: 30px;
    left: 435px;
    top: 2809px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    text-align: center;
    color: #4F5665;
}

#child5-map {
    position: absolute;
    width: 1060px;
    height: 537.77px;
    left: 190px;
    top: 3022.36px;
    opacity: 0.5;
}

#child6-vtv {
    position: absolute;
    width: 274px;
    height: 215px;
    left: 79px;
    top: 3599px;
}

#child6-viettel {
    position: absolute;
    width: 194px;
    height: 182px;
    left: 368px;
    top: 3609px;
}

#child6-mobifone {
    position: absolute;
    width: 253px;
    height: 204px;
    left: 593px;
    top: 3596px;
}

#child6-vinaphone {
    position: absolute;
    width: 251px;
    height: 186px;
    left: 869px;
    top: 3605px;
}

#child6-viresa {
    position: absolute;
    width: 159px;
    height: 214px;
    left: 1135px;
    top: 3568px;
}

#child7-title {
    position: absolute;
    width: 447.81px;
    height: 100px;
    left: 496.1px;
    top: 3854.25px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    /* or 143% */
    text-align: center;
    color: #0B132A;
}

#child7-des {
    position: absolute;
    width: 555px;
    height: 60px;
    left: 442.5px;
    top: 3974.25px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    text-align: center;
    color: #4F5665;
}

#child7-item1-wrapper {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 87px;
    top: 4098.25px;
    background: #FFFFFF;
    border: 2px solid #0575E6;
    box-sizing: border-box;
    border-radius: 10px;
}

#child7-item1-icon {
    position: absolute;
    width: 53.57px;
    height: 53.57px;
    left: 30px;
    top: 28.21px;
}

#child7-item1-name {
    position: absolute;
    width: 120px;
    height: 19.29px;
    left: 105px;
    top: 35.18px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child7-item1-place {
    position: absolute;
    width: 108.21px;
    height: 15px;
    left: 106.07px;
    top: 59.82px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    display: flex;
    align-items: center;
    color: #4F5665;
}

#child7-item1-rating {
    position: absolute;
    width: 24px;
    height: 16px;
    left: 320px;
    top: 47.35px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child7-item1-star {
    position: absolute;
    left: 355.38px;
    top: 47.72px;
    bottom: 14.35%;
}

#child7-item1-des {
    position: absolute;
    width: 340px;
    height: 100px;
    left: 30px;
    top: 100px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child7-item2-wrapper {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 537px;
    top: 4098.25px;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
}

#child7-item2-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 30px;
}

#child7-item2-name {
    position: absolute;
    width: 142.02px;
    height: 18px;
    left: 100px;
    top: 36.5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child7-item2-place {
    position: absolute;
    width: 109.36px;
    height: 14px;
    left: 101px;
    top: 59.5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    display: flex;
    align-items: center;
    color: #4F5665;
}

#child7-item2-rating {
    position: absolute;
    width: 24px;
    height: 16px;
    left: 320px;
    top: 47.35px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child7-item2-star {
    position: absolute;
    left: 355.38px;
    top: 47.72px;
}

#child7-item2-des {
    position: absolute;
    width: 340px;
    height: 100px;
    left: 30px;
    top: 88px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child7-item3-wrapper {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 977px;
    top: 4098px;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
}

#child7-item3-icon {
    position: absolute;
    width: 53.57px;
    height: 53.57px;
    left: 40px;
    top: 30.25px;
}

#child7-item3-name {
    position: absolute;
    width: 120px;
    height: 19.29px;
    left: 110px;
    top: 36.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child7-item3-place {
    position: absolute;
    width: 108.21px;
    height: 15px;
    left: 111px;
    top: 59.75px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    display: flex;
    align-items: center;
    color: #4F5665;
}

#child7-item3-rating {
    position: absolute;
    width: 24px;
    height: 16px;
    left: 330px;
    top: 47.6px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child7-item3-star {
    position: absolute;
    left: 365.38px;
    top: 47.97px;
    bottom: 14.35%;
}

#child7-item3-des {
    position: absolute;
    width: 340px;
    height: 100px;
    left: 40px;
    top: 83.5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child8-item1 {
    position: absolute;
    width: 45px;
    height: 15px;
    left: 150px;
    top: 4406.75px;
}

#child8-item2 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 210px;
    top: 4406.75px;
}

#child8-item3 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 240px;
    top: 4406.75px;
}

#child8-item4 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 270px;
    top: 4406.75px;
}

#child8-item5-button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1150px;
    top: 4384.25px;
    border: 2px solid #0575E6;
    box-sizing: border-box;
    border-radius: 70px;
}

#child8-item5-image {
    position: absolute;
    left: 20px;
    top: 21.25px;
}

#child8-item6-button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1230px;
    top: 4384.25px;
    background: #0575E6;
    border: 2px solid #0575E6;
    box-sizing: border-box;
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
    border-radius: 70px;
}

#child8-item6-image {
    position: absolute;
    left: 20px;
    top: 21.25px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

#child9-wrapper {
    position: absolute;
    width: 1140px;
    height: 233px;
    left: 150px;
    top: 4509.28px;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
}

#child9-title {
    position: absolute;
    width: 527px;
    height: 80px;
    left: 70px;
    top: 58.72px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    /* or 129% */
    display: flex;
    align-items: center;
    color: #0B132A;
}

#child9-des {
    position: absolute;
    width: 320px;
    height: 16px;
    left: 70px;
    top: 158.72px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    display: flex;
    align-items: center;
    color: #4F5665;
}

#child9-button {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 820px;
    top: 86.5px;
    background: #0575E6;
    border-radius: 10px;
}

#child9-button-content {
    position: absolute;
    width: 118px;
    height: 25px;
    left: 69px;
    top: 17.5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */
    color: #FFFFFF;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 563.12px;
    left: 0px;
    top: 4625.78px;
    background: #F8F8F8;
}

#footer-logo {
    position: absolute;
    width: 199px;
    height: 66px;
    left: 150px;
    top: 160.22px;
}

#footer-logo-mini {
    position: absolute;
    width: 60px;
    height: 23px;
    left: 353px;
    top: 202.22px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #43A5FF;
}

#footer-logo-content {
    position: absolute;
    width: 340px;
    height: 61.57px;
    left: 150px;
    top: 236.23px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    color: #4F5665;
}

#footer-facebook {
    position: absolute;
    width: 63.6px;
    height: 63.6px;
    left: 211px;
    top: 327.81px;
}

#footer-insta {
    position: absolute;
    width: 63.6px;
    height: 63.6px;
    left: 257.2px;
    top: 327.81px;
}

#footer-products {
    position: absolute;
    width: 87px;
    height: 30px;
    left: 720px;
    top: 183.12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    color: #0B132A;
}

#footer-list {
    position: absolute;
    width: 89px;
    height: 30px;
    left: 920px;
    top: 183.12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    color: #0B132A;
}

#footer-info {
    position: absolute;
    width: 94px;
    height: 30px;
    left: 1169px;
    top: 183.12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    color: #0B132A;
}

#footer-products-item1 {
    position: absolute;
    width: 47px;
    height: 30px;
    left: 720px;
    top: 233.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-products-item2 {
    position: absolute;
    width: 46px;
    height: 30px;
    left: 720px;
    top: 273.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-products-item3 {
    position: absolute;
    width: 44px;
    height: 30px;
    left: 720px;
    top: 313.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-products-item4 {
    position: absolute;
    width: 59px;
    height: 30px;
    left: 720px;
    top: 353.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-products-item5 {
    position: absolute;
    width: 48px;
    height: 30px;
    left: 720px;
    top: 393.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-list-item1 {
    position: absolute;
    width: 71px;
    height: 30px;
    left: 920px;
    top: 233.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-list-item2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 920px;
    top: 273.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-list-item3 {
    position: absolute;
    width: 84px;
    height: 30px;
    left: 920px;
    top: 313.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-list-item4 {
    position: absolute;
    width: 111px;
    height: 30px;
    left: 920px;
    top: 343.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-info-item1 {
    position: absolute;
    width: 56px;
    height: 30px;
    left: 1169px;
    top: 233.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-info-item2 {
    position: absolute;
    width: 121px;
    height: 30px;
    left: 1169px;
    top: 273.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
}

#footer-more {
    position: absolute;
    width: 96px;
    height: 30px;
    left: 720px;
    top: 433.12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #0575E6;
}

#footer-copyright {
    position: absolute;
    width: 563px;
    height: 30px;
    left: 150px;
    top: 522.22px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    text-align: center;
    color: #AFB5C0;
}